<div>
    <h3>{{$ctrl.listObj.name}} <span><button class="btn btn-default btn-sm" ng-click="$ctrl.addingTask = !$ctrl.addingTask">Add New Item</button></span></h3>
    <div ng-if="$ctrl.addingTask">
        <form ng-submit="$ctrl.addTask($ctrl.listObj.id, $ctrl.newTask)">
            <input type="text" ng-model="$ctrl.newTask.taskName" placeholder="Item name" required>
            <input type="text" ng-model="$ctrl.newTask.assignedTo" placeholder="Assign to...">
            <button class="btn btn-success btn-xs" type="submit">+</button>
        </form>
    </div>

    <div class="task-card" ng-repeat="task in $ctrl.listObj.tasks track by $index">
        <task-component task-obj="task"></task-component>
    </div>
</div>
